*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: "DM Sans", sans-serif;
}

/*------------------NavBar----------------*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.logo{
    width: 150px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover{
    color:#F10086
}

iframe{
    margin-top: 50px;
}

h2{
    font-family:"DM Sans", sans-serif;
    font-size: 500;
    font-size: 20px;
    color: #FFFFFF;
    justify-content: flex-start;
    text-align: center;
}

/*----------------about--------------*/
#about{
    padding-top: 80px;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 60%;
}

.about-col-2{
    flex-basis: 35%;
}

.about-col-2 img{
    width: 70%;
}

.Sub-title{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 10%;
}

#info{
    margin-top: 60px;
    align-items: center;
}

/*-------------Footer-------------*/
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
}

.social-icons a:hover{
    color: #F10086;
}

.google-maps{
    float: right;
    margin-right: 100px
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #000000;
    font-weight: 500;
    padding-top: 20px;
}

p{
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
}